@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
     /* primary*/
     --Blue-200: hsl(193, 38%, 86%);
     --Green-300: hsl(150, 100%, 66%);
     /*neutral*/
     --Blue-600: hsl(217, 19%, 38%);
     --Blue-900: hsl(217, 19%, 24%);
     --Blue-950: hsl(218, 23%, 16%);
     /*font*/
     --font: "Karla", sans-serif;
}
body{
  background: var(--Blue-950);
  color: var(--Blue-200);
  font-family: var(--font);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}
.advice__card{
    background: var(--Blue-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    width: 90%;
    padding: 2rem;
    max-width: 300px;
    position: relative;
}
.advice__id{
    color: var(--Green-300);
    text-transform: uppercase;
    font-size: 1rem;
    word-spacing: .1rem;
    letter-spacing: 4px;
}
.advice__text{
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 700;
}
picture img{
    width: 100%;
    margin: 1rem 0;
}
.dice__button{
    background: var(--Green-300);
    padding: 1rem;
    border: none;
    position: absolute;
    bottom: -1.5rem;
    border-radius: 50%;
    left: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    transform: translateX(-50%);

}
.dice__button:hover{
    box-shadow: 0 0 20px var(--Green-300);
}

@media (min-width: 768px) {
  .advice__card {
    padding: 3rem;
    max-width: 400px;
  }

  #advice__text {
    font-size: 1.8rem;
  }
}